/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* variabel css */
:root {
    --header-height: 3rem;
    --font-medium: 500;
}

/* colores */
:root {
    --first-color: #C25A78;   
    --white-color: #FAFAF9;   
    --dark-color: #1C1917;    
    --text-color: #44403C;   
}

/* font fotografi */
:root {
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size:1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}
 
@media screen and (min-width: 768px){
    :root {
        --big-font-size: 10.5rem;
        --h2-font-size:2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* margin */
:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* z index */
:root {
    --z-fixed: 100;
}

/* base */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* class css */
.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
} 

.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/* layout */
.bg-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
} 

.nav-item {
    margin-bottom: var(--mb-4);
}

.nav-link {
    position: relative;
    color: var(--dark-color);
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-logo {
    color: var(--white-color);
}

.nav-toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* show menu */
.show {
    right: 0;
}

/* active menu */
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* home */
.home {
    position: relative;
    background-color: var(--first-color);
    overflow: hidden;
}

.home-container {
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}

.home-title {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
}

.home-title span {
    text-shadow: 0 20px 25px rgba(0, 0, 0,.5);
}

.home-scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}

.home-scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}

.home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 315px;
}

/* about */
.about-container {
    /* justify-content: center; */ 
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}

.about-img {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}

.about-img img {
    width: 100px;
}

.about-subtitle {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.about-text {
    margin-bottom: var(--mb-4);
}

.about-profession {
    display: block;
    margin-bottom: var(--mb-4);
}

.about-social-icon {
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
}

.about-social-icon:hover {
    color: var(--first-color);
}

/* skills */
.skills {
    padding-bottom: 6rem;
}

.skills-container {
    row-gap: 2rem;
}

.skills-subtitle {
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.skills-name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
}

.skills-name:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

.skills-img img {
    border-radius: .5rem;
}

/* reward */
.reward {
    background-color: var(--white-color);
}

.reward-container {
    justify-items: center;
    row-gap: 2rem;
}

.reward-img {
    position: relative;
    overflow: hidden;
}

.reward-img img {
    border-radius: .5rem;
}

.reward-link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.reward-img:hover .reward-link {
    bottom: 0;
}

.reward-link-name {
    color: var(--dark-color);
}

/* contact */
.contact-container {
    row-gap: 2rem;
}

.contact-subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
}

.contact-text {
    display: inline-block;
    margin-bottom: var(--mb-2);
}

.contact-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact-input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}

.contact-button {
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/* footer */
.footer {
    background-color: var(--dark-color);
}

.footer-container {
    row-gap: 2rem;
}

.footer-title {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}

.footer-link {
    padding: .25rem 0;
}

.footer-link:hover {
    color: var(--first-color);
}

.footer-social {
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}

.footer-social:hover {
    color: var(--first-color);
}

/* media queries */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
    }

    .section-title {
        margin-bottom: 3rem;
    }

    .section-title::after {
        width: 64px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
    }

    .nav-item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        color: var(--white-color);
    }

    .nav-link:hover {
        color: var(--white-color);
    }

    .active::after {
        background-color: var(--white-color);
    }

    .home-container {
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .home-img {
        width: 524px;
        right: 10%;
    }

    .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        width: 185px;
    }

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .reward-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .contact-form {
        width: 380px;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

}

@media screen and (min-width: 1024px) {
    .bg-grid {
        margin-right: auto;
        margin-left: auto;
    }
}